# Prueba técnica

In [1]:
import pandas as pd

In [8]:
# Cargar tabla
url = 'https://raw.githubusercontent.com/AlejandroHerrera15/Prueba-tecnica/main/datos_ventas.xlsx'
tabla = pd.read_excel(url)
tabla

,ID_Venta,Fecha,Producto,Cantidad,Precio_Unitario,Total_Venta,Vendedor,ID_Cruce
0,1,2023-06-02,Monitor,3,669,2007.0,Elena,101
1,2,2023-12-16,Celular,3,172,516.0,Ana,102
2,3,2023-03-02,Monitor,5,765,3825.0,Elena,103
3,4,2023-03-19,Laptop,4,303,1212.0,Carlos,104
4,5,2023-01-24,Impresora,8,644,NaN,David,105
...,...,...,...,...,...,...,...,...
95,96,2023-08-15,Monitor,7,138,966.0,Beatriz,196
96,97,2023-04-07,Laptop,10,222,2220.0,Beatriz,197
97,98,2023-07-11,Celular,9,1306,11754.0,Ana,198
98,99,2023-12-21,Laptop,4,1885,7540.0,Carlos,199
99,100,2023-01-27,Tablet,8,1371,10968.0,Carlos,200

In [15]:
# Exploración
tabla.info()
tabla.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Venta         100 non-null    int64
 1   Fecha            100 non-null    object
 2   Producto         100 non-null    object
 3   Cantidad         100 non-null    int64
 4   Precio_Unitario  100 non-null    int64
 5   Total_Venta      75 non-null     float64
 6   Vendedor         100 non-null    object
 7   ID_Cruce         100 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 6.4+ KB

ID_Venta            0
Fecha               0
Producto            0
Cantidad            0
Precio_Unitario     0
Total_Venta        25
Vendedor            0
ID_Cruce            0
dtype: int64

La tabla cuenta con 25 datos nulos en la variable Total_Venta, la variable fecha no está en formato datetime

In [ ]:
#Limpieza y transformación
tabla["Fecha"] = pd.to_datetime(tabla["Fecha"])
tabla["Total_Venta"] = tabla["Total_Venta"].fillna(tabla["Cantidad"] * tabla["Precio_Unitario"])
tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Venta         100 non-null    int64
 1   Fecha            100 non-null    datetime64[ns]
 2   Producto         100 non-null    object
 3   Cantidad         100 non-null    int64
 4   Precio_Unitario  100 non-null    int64
 5   Total_Venta      100 non-null    float64
 6   Vendedor         100 non-null    object
 7   ID_Cruce         100 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 6.4+ KB

In [24]:
# Filtrado
tabla_2023 = tabla[tabla['Fecha'].dt.year==2023]
tabla_2023['Mes'] = tabla_2023['Fecha'].dt.month
tabla_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Venta         100 non-null    int64
 1   Fecha            100 non-null    datetime64[ns]
 2   Producto         100 non-null    object
 3   Cantidad         100 non-null    int64
 4   Precio_Unitario  100 non-null    int64
 5   Total_Venta      100 non-null    float64
 6   Vendedor         100 non-null    object
 7   ID_Cruce         100 non-null    int64
 8   Mes              100 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(4), object(2)
memory usage: 6.8+ KB

In [26]:
# Agrupaciones
# Total de ventas por vendedor
ventas_por_vendedor = tabla_2023.groupby("Vendedor")["Total_Venta"].sum().reset_index()
print(ventas_por_vendedor)
# Total de ventas por mes
ventas_por_mes = tabla_2023.groupby("Mes")["Total_Venta"].sum().reset_index()
print(ventas_por_mes)

  Vendedor  Total_Venta
0      Ana     141425.0
1  Beatriz     111286.0
2   Carlos     130801.0
3    David     104820.0
4    Elena      85343.0
    Mes  Total_Venta
0     1      38617.0
1     2      79020.0
2     3      26514.0
3     4      19552.0
4     5      33014.0
5     6      81217.0
6     7      26158.0
7     8      73812.0
8     9      52082.0
9    10      47184.0
10   11      46118.0
11   12      50387.0